<img src=https://kto-ozvuchival.ru/wp-content/uploads/2017/12/kto-ozvuchivaet-toni-starka-na-russkom-800x500.jpg><br>
<hr style="border: 10px solid green;" />

## <span style="color:green">–§–∏–Ω–∞–ª—å–Ω—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π<span>
–°–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω—É—é —Ä–∞–±–æ—Ç—Éü§ù

–†—É—Å–ª–∞–Ω, —Å–ø–∞—Å–∏–±–æ –∑–∞ –¥–æ—Ä–∞–±–æ—Ç–∫–∏, –≤—Å—ë –ø—Ä–∏–Ω—è—Ç–æüëå
    
–ü–æ —Ä–∞–∑–º–µ—Ä—É –≤—Å—ë –≤–µ—Ä–Ω–æ: <a href="https://monosnap.com/direct/24wd7dE6sufFrGy1DNyiQ2MWIKzLd6">—É–∫–∞–∑—ã–≤–∞–µ—à—å</a> —Ä–∞–∑–º–µ—Ä –ø–æ –≤—ã—Å–æ—Ç–µ –∏ –≤—Å—ë —Ä–∞–±–æ—Ç–∞–µ—Ç. –ü–æ –∑–∞–º–µ–Ω–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –Ω–µ —Å—Ç–∞–ª–∫–∏–≤–∞–ª—Å—è —Å –ø—Ä–æ–±–ª–µ–º–∞–º–∏, –æ–±—ã—á–Ω–æ –¥–æ–±–∞–≤–ª—è–ª –Ω–æ–≤—ã–π –∏—Å—Ç–æ—á–Ω–∏–∫, —Å–≤—è–∑—ã–≤–∞–ª –µ–≥–æ —Å –¥–∞—à–±–æ—Ä–¥–æ–º –∏ —É–¥–∞–ª—è–ª —Å—Ç–∞—Ä—ã–π.
    
–ñ–µ–ª–∞—é –¥–∞–ª—å–Ω–µ–π—à–∏—Ö —É—Å–ø–µ—Ö–æ–≤ –∏ –æ—Ç–ª–∏—á–Ω–æ–≥–æ –Ω–∞—Å—Ç—Ä–æ–µ–Ω–∏—èüñê

–ü–æ–∑–¥—Ä–∞–≤–ª—è—é, –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω—è—Çüëç

<hr style="border: 2px solid green;" />

## –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–≤–µ—Ä–∞

–†—É—Å–ª–∞–Ω, –ø—Ä–∏–≤–µ—Ç! 

ü§ö–ú–µ–Ω—è –∑–æ–≤—É—Ç, –û–ª–µ–≥ –Æ—Ä—å–µ–≤, —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ï—Å–ª–∏ –Ω–µ –ø—Ä–æ—Ç–∏–≤, —è –±—É–¥—É –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ —Ç–µ–±–µ –Ω–∞ _–¢–´_ . –ï—Å–ª–∏ —ç—Ç–æ –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω–∞–ø–∏—à–∏ –º–Ω–µ –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö - –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ _–í–´_ .

ü§ù–°–ø–∞—Å–∏–±–æ, —á—Ç–æ —Å–¥–∞–ª –ø—Ä–æ–µ–∫—Ç –≤–æ–≤—Ä–µ–º—è. –¢–æ–±–æ–π –ø—Ä–æ–¥–µ–ª–∞–Ω–∞ –±–æ–ª—å—à–∞—è —Ä–∞–±–æ—Ç–∞, –º–æ–ª–æ–¥–µ—Ü! 

‚úèÔ∏è–í —ç—Ç–æ–π —Ç–µ—Ç—Ä–∞–¥–∫–µ —Ç—ã –Ω–∞–π–¥–µ—à—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.

–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –±—É–¥—É—Ç –≤—ã–¥–µ–ª–µ–Ω—ã:

<div style="border-radius: 15px; box-shadow: 4px 4px 4px; border: solid green 2px; padding: 20px"> <b>–û—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞ ‚úÖ</b><br>
¬†¬†¬† –ë–µ–∑—É–ø—Ä–µ—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞</div>¬†¬†¬†¬†¬†¬† 
<br>
<div style="border-radius: 15px; box-shadow: 4px 4px 4px; border: solid orange 2px; padding: 20px"> <b>–ß—Ç–æ –º–æ–∂–Ω–æ —É–ª—É—á—à–∏—Ç—å ‚ö†Ô∏è</b><br>
¬†¬†¬† –ù–∏—á–µ–≥–æ –¥–æ—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å –Ω–µ –Ω–∞–¥–æ, –¥–∞–Ω–Ω—ã–µ –ø—É–Ω–∫—Ç—ã —Ä–∞–±–æ—Ç–∞—é—Ç –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –Ω–æ –µ—Å—Ç—å —Å–ø–æ—Å–æ–±—ã —É–ª—É—á—à–∏—Ç—å. –ù–µ—Å–∫–æ–ª—å–∫–æ —Ç–∞–∫–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ –¥–æ–ø—É—Å—Ç–∏–º—ã, –Ω–æ –±–æ–ª–µ–µ - –ø—Ä–∏–¥–µ—Ç—Å—è –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ë–æ–ª—å—à–æ–µ –∫–æ–ª-–≤–æ –º–µ–ª–∫–∏—Ö –∑–∞–º–µ—á–∞–Ω–∏–π –∏ –ø–æ–º–∞—Ä–æ–∫ —Å–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –Ω–∞ –æ–±—â–µ–º –≤–ø–µ—á–∞—Ç–ª–µ–Ω–∏–∏ –æ—Ç —Ä–∞–±–æ—Ç—ã.</div>¬†¬† 
<br>
<div style="border-radius: 15px; box-shadow: 4px 4px 4px; border: solid red 2px; padding: 20px"> <b>–ß—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å ‚õîÔ∏è</b><br>
¬†¬†¬† –¢–∞–∫–∏–µ –ø—É–Ω–∫—Ç—ã –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –≤ –ø–µ—Ä–≤—É—é –æ—á–µ—Ä–µ–¥—å, —á—Ç–æ–±—ã —è —Å–º–æ–≥ –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç.</div>
 
–ù–µ —É–¥–∞–ª—è–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —Ç–∞–∫ –±—É–¥–µ–º —Å–ª–µ–¥–∏—Ç—å –∑–∞ –¥–∏–Ω–∞–º–∏–∫–æ–π üìà
¬†¬† 
–î–∞–≤–∞–π –±—É–¥–µ–º –≤ –¥–∏–∞–ª–æ–≥–µ - –æ—Å–Ω–æ–≤–Ω—ã–µ —Ü–µ–ª–∏ –≤ –¥–∏–∞–ª–æ–≥–µ:
- –æ–±–º–µ–Ω –æ–ø—ã—Ç–æ–º (–¥–∞ —è —Ç–æ–∂–µ —É—á—É—Å—å —É —Å—Ç—É–¥–µ–Ω—Ç–æ–≤üë®‚Äçüéì)
- –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–µ–∫—Ç –µ—â–µ –ª—É—á—à–µ
- –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å—Ç–∞—Ç—å –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–º

–ü–æ—ç—Ç–æ–º—É —á—Ç–æ–±—ã –º–Ω–µ –ø—Ä–æ—â–µ –±—ã–ª–æ –ø—Ä–æ–≤–µ—Ä—è—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω–æ, –∞ —Ç–µ–±–µ –∫–æ–Ω—Ç—Ä–æ–ª–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–æ—Ü–µ—Å—Å —Ä–µ–≤—å—é, –æ—Å—Ç–∞–≤–ª—è–π —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –≤—ã–¥–µ–ª—è–π –∏—Ö. 
¬†¬†¬† 
<div class="alert alert-info" style="border:solid blue 2px; padding: 20px"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
¬†¬† 
–ü–æ–µ—Ö–∞–ª–∏! :)

<hr style="border: 2px solid green;" />

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–¢–∞–±–ª–∏—Ü–∞ **user**:
–°–æ–¥–µ—Ä–∂–∏—Ç –æ—Å–Ω–æ–≤–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö.

 - user_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–ª–∏–µ–Ω—Ç–∞, –ø–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á —Ç–∞–±–ª–∏—Ü—ã
 - lt_day	–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π ¬´–∂–∏–∑–Ω–∏¬ª –∫–ª–∏–µ–Ω—Ç–∞
 - age	–í–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö
 - gender_segment	–ü–æ–ª –∫–ª–∏–µ–Ω—Ç–∞ (1 ‚Äì –∂–µ–Ω—â–∏–Ω–∞, 0 ‚Äì –º—É–∂—á–∏–Ω–∞)
 - os_name	–¢–∏–ø –æ–ø–µ—Ä–∞—Ü–∏–æ–Ω–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã
 - cpe_type_name	–¢–∏–ø —É—Å—Ç—Ä–æ–π—Å—Ç–≤–∞
 - location_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –¥–æ–º–∞—à–Ω–µ–≥–æ —Ä–µ–≥–∏–æ–Ω–∞ –∫–ª–∏–µ–Ω—Ç–∞, –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á, –æ—Ç—Å—ã–ª–∞—é—â–∏–π –∫ —Ç–∞–±–ª–∏—Ü–µ location
 - age_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç–∞ –∫–ª–∏–µ–Ω—Ç–∞, –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á, –æ—Ç—Å—ã–ª–∞—é—â–∏–π –∫ —Ç–∞–±–ª–∏—Ü–µ age_segment
 - tr_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–≥–º–µ–Ω—Ç–∞ –∫–ª–∏–µ–Ω—Ç–∞ –ø–æ –æ–±—ä—ë–º—É –ø–æ—Ç—Ä–µ–±–ª—è–µ–º–æ–≥–æ —Ç—Ä–∞—Ñ–∏–∫–∞ –≤ –º–µ—Å—è—Ü, –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á, –æ—Ç—Å—ã–ª–∞—é—â–∏–π –∫ —Ç–∞–±–ª–∏—Ü–µ traffic_segment
 - lt_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–≥–º–µ–Ω—Ç–∞ –∫–ª–∏–µ–Ω—Ç–∞ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –º–µ—Å—è—Ü–µ–≤ ¬´–∂–∏–∑–Ω–∏¬ª, –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á, –æ—Ç—Å—ã–ª–∞—é—â–∏–π –∫ —Ç–∞–±–ª–∏—Ü–µ lifetime_segment
 - nps_score	–û—Ü–µ–Ω–∫–∞ –∫–ª–∏–µ–Ω—Ç–∞ –≤ NPS-–æ–ø—Ä–æ—Å–µ (–æ—Ç 1 –¥–æ 10)

–¢–∞–±–ª–∏—Ü–∞ **location**:
–°–ø—Ä–∞–≤–æ—á–Ω–∏–∫ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–π, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —Ç–µ–ª–µ–∫–æ–º-–∫–æ–º–ø–∞–Ω–∏—è –æ–∫–∞–∑—ã–≤–∞–µ—Ç —É—Å–ª—É–≥–∏.

- location_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–ø–∏—Å–∏, –ø–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á
- country	–°—Ç—Ä–∞–Ω–∞
- city	–ì–æ—Ä–æ–¥

–¢–∞–±–ª–∏—Ü–∞ **age_segment**:
–î–∞–Ω–Ω—ã–µ –æ –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã—Ö —Å–µ–≥–º–µ–Ω—Ç–∞—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤.

- age_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–≥–º–µ–Ω—Ç–∞, –ø–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á
- bucket_min	–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- bucket_max	–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- title	–ù–∞–∑–≤–∞–Ω–∏–µ —Å–µ–≥–º–µ–Ω—Ç–∞

–¢–∞–±–ª–∏—Ü–∞ **traffic_segment**:
–î–∞–Ω–Ω—ã–µ –æ –≤—ã–¥–µ–ª—è–µ–º—ã—Ö —Å–µ–≥–º–µ–Ω—Ç–∞—Ö –ø–æ –æ–±—ä—ë–º—É –ø–æ—Ç—Ä–µ–±–ª—è–µ–º–æ–≥–æ —Ç—Ä–∞—Ñ–∏–∫–∞.

- tr_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–≥–º–µ–Ω—Ç–∞, –ø–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á
- bucket_min	–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- bucket_max	–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- title	–ù–∞–∑–≤–∞–Ω–∏–µ —Å–µ–≥–º–µ–Ω—Ç–∞

–¢–∞–±–ª–∏—Ü–∞ **lifetime_segment**:
–î–∞–Ω–Ω—ã–µ –æ –≤—ã–¥–µ–ª—è–µ–º—ã—Ö —Å–µ–≥–º–µ–Ω—Ç–∞—Ö –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –º–µ—Å—è—Ü–µ–≤ ¬´–∂–∏–∑–Ω–∏¬ª –∫–ª–∏–µ–Ω—Ç–∞ ‚Äî –ª–∞–π—Ñ—Ç–∞–π–º—É.

- lt_gr_id	–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–≥–º–µ–Ω—Ç–∞, –ø–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á
- bucket_min	–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- bucket_max	–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ —Å–µ–≥–º–µ–Ω—Ç–∞
- title	–ù–∞–∑–≤–∞–Ω–∏–µ —Å–µ–≥–º–µ–Ω—Ç–∞

 –ß—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –æ–ø—Ä–æ—Å–∞, –æ—Ü–µ–Ω–∫–∏ –æ–±—ã—á–Ω–æ –¥–µ–ª—è—Ç –Ω–∞ —Ç—Ä–∏ –≥—Ä—É–ø–ø—ã:
- 9-10 –±–∞–ª–ª–æ–≤ ‚Äî ¬´c—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏¬ª (–∞–Ω–≥–ª. promoters);
- 7-8 –±–∞–ª–ª–æ–≤ ‚Äî ¬´–Ω–µ–π—Ç—Ä–∞–ª—ã¬ª (–∞–Ω–≥–ª. passives);
- 0-6 –±–∞–ª–ª–æ–≤ ‚Äî ¬´–∫—Ä–∏—Ç–∏–∫–∏¬ª (–∞–Ω–≥–ª. detractors).

–ò—Ç–æ–≥–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ NPS —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è –ø–æ —Ñ–æ—Ä–º—É–ª–µ: % ¬´—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–æ–≤¬ª - % ¬´–∫—Ä–∏—Ç–∏–∫–æ–≤¬ª.

### –°–æ–±–µ—Ä–µ–º –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Å–µ—Ç—ã, –ø—Ä–æ–≤–µ—Ä–∏–º –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å

In [1]:
import pandas as pd
from sqlalchemy import create_engine

path_to_db = '/datasets/telecomm_csi.db' # –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

query = """
SELECT * FROM user 
"""

user = pd.read_sql(query, engine)
user.head(3)

,user_id,lt_day,age,gender_segment,os_name,cpe_type_name,location_id,age_gr_id,tr_gr_id,lt_gr_id,nps_score
0,A001A2,2320,45.0,1.0,ANDROID,SMARTPHONE,55,5,5,8,10
1,A001WF,2344,53.0,0.0,ANDROID,SMARTPHONE,21,5,5,8,10
2,A003Q7,467,57.0,0.0,ANDROID,SMARTPHONE,28,6,9,6,10

In [2]:
query = """
SELECT * FROM location 
"""

location = pd.read_sql(query, engine)
location.head(3)

   location_id         city country
0            1  –ê—Ä—Ö–∞–Ω–≥–µ–ª—å—Å–∫  –†–æ—Å—Å–∏—è
1            2    –ê—Å—Ç—Ä–∞—Ö–∞–Ω—å  –†–æ—Å—Å–∏—è
2            3     –ë–∞–ª–∞—à–∏—Ö–∞  –†–æ—Å—Å–∏—è

In [3]:
query = """
SELECT * FROM age_segment 
"""

age_segment = pd.read_sql(query, engine)
age_segment.head(3)

   age_gr_id  bucket_min  bucket_max     title
0          1         NaN        15.0  01 –¥–æ 16
1          2        16.0        24.0  02 16-24
2          3        25.0        34.0  03 25-34

In [4]:
query = """
SELECT * FROM traffic_segment 
"""

traffic_segment = pd.read_sql(query, engine)
traffic_segment.head(3)

   tr_gr_id  bucket_min  bucket_max        title
0         1        0.00        0.00         01 0
1         2        0.00        0.01    01 0-0.01
2         3        0.01        0.10  02 0.01-0.1

In [5]:
query = """
SELECT * FROM lifetime_segment 
"""

lifetime_segment = pd.read_sql(query, engine)
lifetime_segment.head(3)

   lt_gr_id  bucket_min  bucket_max title
0         1         1.0         1.0  01 1
1         2         2.0         2.0  02 2
2         3         3.0         3.0  03 3

### –ü–æ–¥–≥–æ—Ç–æ–≤–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ –¥–∞—à–±–æ—Ä–¥–µ

In [6]:
query = """SELECT USER.user_id,
       USER.lt_day,
       CASE
           WHEN USER.lt_day <= 365 THEN '–Ω–æ–≤—ã–π'
           WHEN USER.lt_day > 365 THEN '–Ω–µ –Ω–æ–≤—ã–π'
       END AS is_new,
       USER.age,
       CASE 
           WHEN USER.gender_segment = 1 THEN '–∂–µ–Ω—â–∏–Ω–∞'
           WHEN USER.gender_segment = 0 THEN '–º—É–∂—á–∏–Ω–∞'
       END AS gender_segment,
       USER.os_name,
       USER.cpe_type_name,
       location.country,
       location.city,
       substr(age_segment.title, 3) AS age_segment,
       substr(traffic_segment.title,3) AS traffic_segment,
       substr(lifetime_segment.title, 3) AS lifetime_segment,
       USER.nps_score,
       CASE 
           WHEN USER.nps_score < 7 THEN '–∫—Ä–∏—Ç–∏–∫–∏'
           WHEN USER.nps_score > 6 AND USER.nps_score < 9 THEN '–Ω–µ–π—Ç—Ä–∞–ª—ã'
           WHEN USER.nps_score > 8 THEN '—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏'
       END AS nps_group
FROM USER AS USER
JOIN location AS location ON USER.location_id = location.location_id
JOIN age_segment AS age_segment ON USER.age_gr_id = age_segment.age_gr_id
JOIN traffic_segment AS traffic_segment ON USER.tr_gr_id = traffic_segment.tr_gr_id
JOIN lifetime_segment AS lifetime_segment ON USER.lt_gr_id = lifetime_segment.lt_gr_id ;"""
df= pd.read_sql(query,engine)
df.head(5)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,–Ω–µ –Ω–æ–≤—ã–π,45.0,–∂–µ–Ω—â–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–£—Ñ–∞,45-54,1-5,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
1,A001WF,2344,–Ω–µ –Ω–æ–≤—ã–π,53.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–ö–∏—Ä–æ–≤,45-54,1-5,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
2,A003Q7,467,–Ω–µ –Ω–æ–≤—ã–π,57.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–ú–æ—Å–∫–≤–∞,55-64,20-25,13-24,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
3,A004TB,4190,–Ω–µ –Ω–æ–≤—ã–π,44.0,–∂–µ–Ω—â–∏–Ω–∞,IOS,SMARTPHONE,–†–æ—Å—Å–∏—è,–†–æ—Å—Ç–æ–≤–Ω–∞–î–æ–Ω—É,35-44,0.1-1,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏
4,A004XT,1163,–Ω–µ –Ω–æ–≤—ã–π,24.0,–º—É–∂—á–∏–Ω–∞,ANDROID,SMARTPHONE,–†–æ—Å—Å–∏—è,–†—è–∑–∞–Ω—å,16-24,5-10,36+,10,—Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–∏

In [7]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### –£–∫–∞–∂–∏—Ç–µ —Å—Å—ã–ª–∫—É –Ω–∞ –¥–∞—à–±–æ—Ä–¥ –Ω–∞ —Å–∞–π—Ç–µ Tableau Public:

https://public.tableau.com/app/profile/ruslan.kozhushko/viz/_16522020502930/Dashboard?publish=yes

### –£–∫–∞–∂–∏—Ç–µ —Å—Å—ã–ª–∫—É –Ω–∞ pdf-—Ñ–∞–π–ª —Å –ø—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏–µ–π:

https://disk.yandex.ru/i/-9ybhNuiu0Et0w

<hr style="border: 2px solid green;" />

## –û–±—â–∏–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π
–°–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω—É—é —Ä–∞–±–æ—Ç—Éü§ù

–†—É—Å–ª–∞–Ω, –Ω–∏–∂–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø–æ —Ä–∞–∑–¥–µ–ª–∞–º –ø—Ä–æ–µ–∫—Ç–∞:

**Pipeline**

SQL –∑–∞–ø—Ä–æ—Å —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω –æ—Ç–ª–∏—á–Ω–æ!


üí°–£–ª—É—á—à–µ–Ω–∏—è: –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å, —á—Ç–æ –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è —Å–µ–≥–º–µ–Ω—Ç–æ–≤ —Å–æ—Å—Ç–∞–≤–Ω—ã–µ - –Ω–æ–º–µ—Ä –≥—Ä—É–ø–ø—ã + –¥–∏–∞–ø–∞–∑–æ–Ω –∑–Ω–∞—á–µ–Ω–∏–π, —ç—Ç–æ –Ω–µ –æ—á–µ–Ω—å —É–¥–æ–±–Ω–æ –¥–ª—è –≤–æ—Å–ø—Ä–∏—è—Ç–∏—è –∏ –∞–Ω–∞–ª–∏–∑–∞. –ß—Ç–æ–±—ã –ø–æ–ø—Ä–∞–≤–∏—Ç—å —ç—Ç–æ—Ç –º–æ–º–µ–Ω—Ç, –º–æ–∂–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å —Ç–æ–ª—å–∫–æ –¥–∏–∞–ø–∞–∑–æ–Ω, –≤ —ç—Ç–æ–º –ø–æ–º–æ–∂–µ—Ç —Ñ—É–Ω–∫—Ü–∏—è <a href="https://www.sqlitetutorial.net/sqlite-functions/sqlite-substr/">substr</a>


**Dash**

–î–∞—à–±–æ—Ä–¥ –≤ —Ü–µ–ª–æ–º –≤—ã–ø–æ–ª–Ω–µ–Ω —Ö–æ—Ä–æ—à–æ, –Ω–æ —É—Ä–æ–≤–µ–Ω—å NPS –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω —Å–ª–∞–±–æ, —Ç–æ–ª—å–∫–æ –æ–±—â–∏–º –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–æ–º - —Ç–æ –µ—Å—Ç—å —Å–ª–æ–∂–Ω–æ –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Å–µ–≥–º–µ–Ω—Ç—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–æ—è–Ω–Ω–æ –ø–µ—Ä–µ–∫–ª—é—á–∞—è —Ñ–∏–ª—å—Ç—Ä—ã –∏ –∑–∞–ø–æ–º–∏–Ω–∞—è. –ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–µ—à–µ–Ω–∏–µ:
- —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å —Ç–µ–ø–ª–æ–≤–æ–π –∫–∞—Ä—Ç–æ–π –≤ —è—á–µ–π–∫–∞—Ö –∫–æ—Ç–æ—Ä–æ–π –±—É–¥–µ—Ç —É—Ä–æ–≤–µ–Ω—å NPS –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –≥—Ä—É–ø–ø—ã. [–ü—Ä–∏–º–µ—Ä](https://datastudio.google.com/reporting/159580d9-84f8-4fe4-a8e9-cf42b127c367)

ps: –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å—Ç–∞—Ä–∞—Ç—å—Å—è —É–ø–∞–∫–æ–≤–∞—Ç—å –¥–∞—à–±–æ—Ä–¥ –Ω–∞ –æ–¥–∏–Ω —ç–∫—Ä–∞–Ω. –î–∞—à–±–æ—Ä–¥ –≤–ø–ª–æ–Ω–µ –º–æ–∂–µ—Ç –∏–º–µ—Ç—å —Å–∫—Ä–æ–ª–ª –≤–Ω–∏–∑ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–∫–ª–∞–¥–æ–∫


**Slides**

–ü—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∞ —Ö–æ—Ä–æ—à–æ. –ï—Å—Ç—å —Ä—è–¥ –≤–æ–ø—Ä–æ—Å–æ–≤:
- —Å–ª–∞–π–¥ 5, —Ç—É—Ç –∏–ª–∏ –ø—É—Ç–∞–Ω–∏—Ü–∞ –∏–ª–∏ –Ω–µ–ø–æ–Ω–∏–º–∞–Ω–∏–µ: 52% –∏ 17% - —ç—Ç–æ –¥–æ–ª–∏ –æ—Ç–¥–µ–ª—å–Ω–æ —Å—Ç–æ—Ä–æ–Ω–Ω–∏–∫–æ–≤ –∏ –∫—Ä–∏—Ç–∏–∫–æ–≤ –≤–æ –≤—Å–µ–π –≤—ã–±–æ—Ä–∫–µ, –Ω–æ —ç—Ç–∏ —Ü–∏—Ñ—Ä—ã –Ω–µ –∏–º–µ—é—Ç –æ—Ç–Ω–æ—à–µ–Ω–∏—è –∫ NPS. –≠—Ç–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –¥–µ–ª—è—Ç—Å—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –Ω–æ –æ—Å–Ω–æ–≤–µ –ø—Ä–æ–ø–æ—Ä—Ü–∏–π –∫–æ—Ç–æ—Ä—ã—Ö –≤—ã—á–∏—Å–ª—è–µ—Ç—Å—è NPS

–¢–∞–∫–∂–µ —Å–ª–µ–¥—É–µ—Ç –¥–æ–±–∞–≤–∏—Ç—å –≤ –ø—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—é:
- –∏—Å—Ç–æ—á–Ω–∏–∫–∏ –¥–∞–Ω–Ω—ã—Ö 

–ê–ª–µ–∫—Å–∞–Ω–¥—Ä –ë–æ–≥–∞—á–µ–≤ –≤ –∫–Ω–∏–≥–µ _–ì—Ä–∞—Ñ–∏–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —É–±–µ–∂–¥–∞—é—Ç –≤—Å–µ—Ö_ —Ç–∞–∫ –æ–ø–∏—Å—ã–≤–∞–µ—Ç —É–∫–∞–∑–∞–Ω–∏–µ –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤:
```
–í—Å–µ–≥–¥–∞ —É–∫–∞–∑—ã–≤–∞–π—Ç–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∏ –≤–∞—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö. –ë–µ–∑ –Ω–∏—Ö —Ü–µ–Ω–Ω–æ—Å—Ç—å –∏ –¥–æ–≤–µ—Ä–∏–µ –∫ –≤–∞—à–µ–º—É –≥—Ä–∞—Ñ–∏–∫—É —Ä–µ–∑–∫–æ —Å–Ω–∏–∂–∞–µ—Ç—Å—è. –ö–æ–≥–¥–∞ —á–∏—Ç–∞—Ç–µ–ª—å –Ω–µ –º–æ–∂–µ—Ç –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–µ, –µ–º—É —Å–ª–æ–∂–Ω–æ –≤–∞–º –ø–æ–≤–µ—Ä–∏—Ç—å.
–ï—Å–ª–∏ –≤—ã —Å–∞–º–∏ –ø—Ä–æ–≤–µ–ª–∏ —á–∞—Å—Ç—å —Ä–∞—Å—á–µ—Ç–æ–≤, —Ç–æ –≤–ø–æ–ª–Ω–µ –º–æ–∂–µ—Ç–µ –Ω–∞–ø–∏—Å–∞—Ç—å: ¬´–î–∞–Ω–Ω—ã–µ –†–æ—Å—Å—Ç–∞—Ç–∞ + —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–µ —Ä–∞—Å—á–µ—Ç—ã –∞–≤—Ç–æ—Ä–∞¬ª.
–ü–æ—Å–ª–µ —Ç–æ–≥–æ, –∫–∞–∫ –≤—ã —É–∫–∞–∑–∞–ª–∏ –∏—Å—Ç–æ—á–Ω–∏–∫, –æ—Ç–≤–µ—á–∞–π—Ç–µ –∑–∞ –¥–∞–Ω–Ω—ã–µ. –ö—Ç–æ-—Ç–æ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –º–æ–∂–µ—Ç –ø–æ–π—Ç–∏ –∏ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å.
```

[–ü—Ä–∏–º–µ—Ä –≤ –Ω–∏–∂–µ–º –ø—Ä–∞–≤–æ–º —É–≥–ª—É](https://docs.google.com/presentation/d/1Y_zrOZQp6O-1Jzx0cWZFdYOGxKzpkFDQkXD6r8WBYQ8/edit?usp=sharing)

- —Å–ª–∞–π–¥ —Å –æ–±—â–∏–º–∏ –≤—ã–≤–æ–¥–∞–º–∏. –ï–≥–æ –º–æ–∂–Ω–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:
    - –∫—Ä–∞—Ç–∫–∏–π –æ–±–∑–æ—Ä –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö —Ä–∞–±–æ—Ç (–≤—ã–ø–æ–ª–Ω–∏–ª–∏, —Å–¥–µ–ª–∞–ª–∏, —Ä–∞—Å—Å—á–∏—Ç–∞–ª–∏)
    - –æ—Å–Ω–æ–≤–Ω—ã–µ –≤—ã–≤–æ–¥—ã (–æ—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –ø–µ—Ä–µ–¥ –ø—Ä–æ–µ–∫—Ç–æ–º)
    - —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ (–µ—Å–ª–∏ –æ–Ω–∏ (—Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏) –≤–æ–∑–º–æ–∂–Ω—ã)

–ò—Å–ø—Ä–∞–≤–ª—è–π –∏ –æ—Ç–ø—Ä–∞–≤–ª—è–π –Ω–∞ –ø—Ä–æ–≤–µ—Ä–∫—Éüõ†

<div class="alert alert-info" style="border:solid blue 2px; padding: 20px"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–≤–µ—Ç! –°–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–≤–µ—Ä–∫—É –∏ –ø–æ–¥—Å–∫–∞–∑–∫–∏! –∑–∞–ø—Ä–æ—Å –ø–æ–ø—Ä–∞–≤–∏–ª. –ü–æ–ø—ã—Ç–∞–ª—Å—è –∑–∞–º–µ–Ω–∏—Ç—å —Ñ–∞–π–ª –¥–ª—è —Ç–∞–±–ª–µ—é, –ø—Ä–æ—Å—Ç–æ –ø–æ–ª–æ–∂–∏–≤ –≤ –ø–∞–ø–∫—É –Ω–æ–≤—ã–π —Å —Ç–µ–º –∂–µ –Ω–∞–∑–≤–∞–Ω–∏–µ–º, —Ç–∞–±–ª–µ—é  –ø–æ–¥—Ç—è–≥–∏–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ —Ç–æ–ª—å–∫–æ –≤ —Ä–∞–∑–¥–µ–ª Data source, –Ω–æ –Ω–µ –ø–æ–¥—Ç—è–≥–∏–≤–∞–µ—Ç –∏—Ö –Ω–∞ –ª–∏—Å—Ç—ã. –ü–æ–ø—ã—Ç–∞–ª—Å—è –¥–æ–±–∞–≤–∏—Ç—å –Ω–æ–≤—ã–π –¥–∞—Ç–∞ —Å—É—Ä—Å, –≤ –∏—Ç–æ–≥–µ –≤–µ—Å—å —Ç–∞–±–ª–µ—é —Å–ª–µ—Ç–µ–ª( –ø–æ–¥—Å–∫–∞–∂–∏ –∫–∞–∫ –¥–µ–ª–∞—Ç—å –≤ –±—É–¥—É—â–µ–º –∑–∞–º–µ–Ω—É –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –ø—Ä–∞–≤–∏–ª—å–Ω–æ? –ü–æ—Ç–æ–º—É —á—Ç–æ —É –º–µ–Ω—è —Å–ª–µ—Ç–µ–ª –≤–æ–æ–±—â–µ –≤–µ—Å—å –¥–∞—à–±–æ—Ä–¥((( –ü—Ä–∏—à–ª–æ—Å—å –∑–∞–Ω–æ–≤–æ —Å–æ–±–∏—Ä–∞—Ç—å, —è —Å–æ–±—Ä–∞–ª —á–∞—Å—Ç—å –ø–æ –∫–æ—Ç–æ—Ä–æ–π –µ—Å—Ç—å –≤–æ–ø—Ä–æ—Å—ã, —Å —Ç–≤–æ–µ–≥–æ –ø–æ–∑–≤–æ–ª–µ–Ω–∏—è. 
    –° —Ä–∞–∑–º–µ—Ä–æ–º –¥–∞—à–±–æ—Ä–¥–∞ –ø–æ–ø—Ä–æ–±–æ–≤–∞–ª –ø–æ–∏–≥—Ä–∞—Ç—å—Å—è –Ω–æ –Ω–∏—á–µ–≥–æ –æ—Å–æ–±–æ —Ç–æ–ª–∫–æ–≤–æ–≥–æ –Ω–µ –≤—ã—à–ª–æ. –ö–∞–∫ —è –ø–æ–Ω–ª - –Ω–∞–¥–æ –º–∏–Ω–º–∏–º—É–ª—å–Ω—ã–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ä–∞–∑–º–µ—Ä –∑–∞–¥–∞–≤–∞—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–π?
    –ü—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—é —Ç–æ–∂–µ –ø–µ—Ä–µ–¥–µ–ª–∞–ª, –¥–æ–±–∞–≤–∏–ª –≤—ã–≤–æ–¥—ã –∏ –ø–æ–¥–ø–∏—Å—å –ø—Ä–æ –∏—Å—Ç–æ—á–Ω–∏–∫.
</div>

–°—Å—ã–ª–∫–∞ –Ω–∞ –Ω–æ–≤—É—é –ø—Ä–µ–∑–µ–Ω—Ç–∞—Ü–∏—é https://disk.yandex.ru/d/7v5yBhyJVZVGRQ
–°—Å—ã–ª–∫–∞ –Ω–∞ –Ω–æ–≤—ã–π –¥–∞—à–±–æ—Ä–¥ https://public.tableau.com/app/profile/ruslan.kozhushko/viz/_16522020502930/Dashboard?publish=yes